#section-slider{
    width: 550px;
    height: 300px;
}
.slider{
    width: 400px;
    height: 300px;
    display: none;
}
#section-slider .slider-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.slider.active{
    display: block;
}
.thumbs-container{
    width: 150px;
    height: calc(300px / 5);
}
#section-thumbs .thumbs-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.opacity{
    opacity: 0.3;
}
#section-btn button{
    background-color: transparent;
    border: none;
    color: rgb(217, 217, 217);
    font-size: 1.2em;
    z-index: 8000;
}
.next{
    position: absolute;
    top: 10px;
    right: 60px;
}
.prev{
    position: absolute;
    bottom: 10px;
    right: 60px;
}
.border{
    border: 1px solid white;
}